# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Virtual environment
venv/
.venv/

## MkDocs
.cache/
site
